{% extends 'base/index.html' %}
{% load static %}
{% block page_content %}

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'car_showroom/images/neutral_pics/empty_user_icon.jpg' %}" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Edit Profile</strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Current email</strong>: {{ object.email }}</li>
                    <li class="list-group-item">
                        <form method="post" action="{% url 'edit user' pk=object.pk %}">
                            <p><strong>Enter new email:</strong>{{ form.email }}</p>
                            <button type="submit" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem;">
                                Edit
                            </button>
                            <a href="javascript:history.back()" class="btn btn-primary"
                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem;">Back</a>
                            {% csrf_token %}

                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}