{% extends 'base/index.html' %}
{% load static %}
{% block page_content %}

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="hstack gap-3">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="bg-light border">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'car_showroom/images/cars/first-car-sold.jpg' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="fw-semibold">When Was the First Car Sold?</h5>
                            <p class="fst-italic">The history of the automobile began in the 1880s. In 1886, in Germany,
                                Karl
                                Benz
                                registered the first patent in the industry for the first gas-powered vehicle. This
                                “horseless
                                carriage”
                                was called The Motorwagen and between 1888 and 1893 around 25 Benz vehicles were sold.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="bg-light border">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'car_showroom/images/cars/Carl_Benz.webp' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="fw-semibold">Who Sold the First Car?</h5>
                            <p class="fst-italic">The first major car seller is a name you’ll probably recognize even
                                today —
                                Benz. Named
                                after Karl Benz, the company soon expanded from Germany into other European countries
                                like
                                France. By
                                the end of the 19th Century, Benz was the largest car company in the world,
                                manufacturing
                                572
                                vehicles
                                in 1899.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="bg-light border">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'car_showroom/images/cars/just-car.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="fw-semibold">Where Did the Car Industry Begin?</h5>
                            <p class="fst-italic">The car industry first started in Europe. In 1903, France became the
                                world’s
                                leading
                                automaker, producing
                                30,124 cars (almost 49% of the global market). At the same time, the USA managed to
                                manufacture
                                only
                                11,235
                                cars.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="bg-light border">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'car_showroom/images/cars/world-war-2.jpg' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="fw-semibold">How Did World War II Affect the Car Industry?</h5>
                            <p class="fst-italic">For the duration of World War II, almost all car manufacturers were
                                forced
                                to
                                curtail production, reducing
                                car sales dramatically. After the war ended, as soldiers returned to their hometowns,
                                they
                                started to buy
                                cars. As the rationing of metals and other components lessened, automotive production
                                started to
                                ramp up.
                                This period of increased demand and supply is often referred to as the “Car Boom”.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

